<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Agencia_de_Viajes.Properties.Settings.AgenciadeViajesConnectionString"
            connectionString="Data Source=DESKTOP-BUUJ9LF\SQLEXPRESS01;Initial Catalog=AgenciadeViajes;User ID=sa;Password=erick;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="Agencia_de_Viajes.Properties.Settings.AgenciadeviajesConnectionString1"
            connectionString="Data Source=DESKTOP-SU2G25G\SQLEXPRESS;Initial Catalog=Agenciadeviajes;User ID=sa;Password=widman;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>